/* CSS 선택자(Selector) */
  
/* 전체 선택자 */
* {
    color: inherit;
  }
  
/* 가상 요소 선택자 */

  ::selection {
    background: #373e6a;
    color: hotpink;
  }
  
  /* 태그 선택자 */
  body {
    font-family: "SUIT";
    font-weight: 300;
    background-color: #000;
    color: hsla(110, 100%, 100%, 1);
    margin-bottom: 200px;
  }

  /* 클래스 선택자 (동일한 스타일을 여러번 선택하고 싶을때) */

  .fancy {
    font-weight: bold;
    text-shadow: 4px 4px 3px #77f;
    
  }

  .align {
    text-align: center;
  }

/* ul태그에 띄어쓰기를 한다면 ul 태그 아래에 자식요소들 중 menu 클래스를 찾아서 하라는 의미다 
잘 알아보기 */
 
  ul.menu{
	margin: 0;
	padding-left: 0;
    color: green;
}


/* 아이디 선택자  */
/* . 이 붙어있으면 class를 찾는거고 # 이붙어있으면 아이디를 찾는거다 */

#demo {
    border: red 5px solid;
  }


/* 속성 선택자 */

  .menu a[href$=".html"] {
    background-color: blue;
  }  


  /* 선택자 목록 */

  .fancy, .menu{
    font-size: 24px;
  }

/* 가상 요소 선택자 (::)*/
.align::before{
    content: "이전 요소";
}

.align::after{
    content: "다음 요소";
}


/* 가상 클래스  어떨때 사용하냐면 자바스크립트 할때 사용한다 예를들어 홀수를 찾을때 짝수를 찾을때*/

.menu li:nth-child(odd) {
    color: yellow;
}

/* hover : 마우스를 올리면 이란 뜻
호버는 어떤 태그든 사용 할수있다 */

.menu a:hover{
border: 5px solid orangered;
}

h1.menu:hover, h1.menu:focus{
    background-color: teal;
}