html {
  font-size: 0.625em;
}


body {
  font-size: 1rem;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 900;
}

h1 {
  font-size: 3em;
}

p {
  font-size: 2em;
  line-height: 1.5em;
  font-weight: 100;
}





ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ



/* em =   px * 2      */
/* line-height 는 넘버링단위를 사용한다 */

/* font-weight = 굵기 */

/* font-family 는 앞부터 순차적으로 안나오면 다음 차수로 넘어간다  */